.Graph{
    width: calc(52vw - 70px);
    height: 290px;
    float: left;
    background: #ffffff;
    padding: 20px 30px 10px 30px;
    box-shadow: 1px 1px 100px -20px #f7f7f7;

    & > h2{
        font-size: 11pt;
        font-weight: 400;

        & > span{
            font-weight: 800;
        }
    }
}